
/*
* ADD TO YOUR WAYBAR STYLE 
*
* ~/.local/share/fonts/Waycat and Skulltype
*
* Import the custom fonts and 
* style the widgets as needed.
*
* */
#custom-cpucat {
  font-family: "Waycat", monospace;
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-skull {
  font-family: "Skulltype", monospace;
  font-size: 32px;
  font-weight: bold;
  color: green;
  padding-left: 8px;
  padding-right: 8px;
}
